<!-- <h1>Angular</h1>
<courses></courses>
<authors></authors>
<favorite></favorite>

<input type="text" [(ngModel)]="title">
<br>
{{title || titleCasePipe }} -->

<!-- <img [src]="imageUrl"/>
<button (click)="onClick()"></button> -->
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged(($event))">hi</favorite>
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>ssome content here...</p>
    </div>
    
</bootstrap-panel>
<like 
    [likesCount]="tweet.likesCount"
    [isLiked]="tweet.isLiked"
    ></like>